<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>ShopTonColis - Connexion</title>
    <link rel="icon" type="image/png" href="/static/logo.png">
</head>

<body>
    <div class="box center column">
        <div class="box center header">
            <a href="/" class="title animated">ShopTonColis</a>
            <img class="packageAnimated" src="/static/package.svg" alt="Package image">
        </div>
        <hr>
        <div class="box column center notFound">
            <h1>Page introuvable</h1>
            <img src="/static/404.svg" alt="404 image">
        </div>
    </div>

    <footer>
        <div class="box center column">
            <div class="box widthed space">
            <div class="box column">
                <h1>ShopTonColis</h1>
                <div class="box widthed space">
                <a href="/" class="secondary-text">Accueil</a>
                </div>
            </div>

            <div class="box column">
                <h2>Contacts</h2>
                <p class="secondary-text">contact@shoptoncolis.fr</p>
                <p class="secondary-text">1, rue Sésame</p>
            </div>

            <div class="box column">
                <h2>Entreprise</h2>
                <a href="#" class="secondary-text">Nos valeurs</a>
                <a href="#" class="secondary-text">Nos partenaires</a>
            </div>

            <div class="box column">
                <h2>Légal</h2>
                <a href="#" class="secondary-text">CGU / CGV</a>
                <a href="#" class="secondary-text">Mentions Légales</a>
            </div>

            </div>
            <hr>
            <p>© 2024 ShopTonColis SAS</p>
        </div>
    </footer>
</body>

</html>